#formulario {
    display: flex;
    margin-top: 3rem;
    align-items: center; 
    flex-direction: column;
    justify-content: center;
}

#formulario  h1{
    margin-right: 27rem;
    margin-bottom: 1rem;
    color: var(--branco);
}

#formulario form {
    width: 40rem;
}

#formulario form label input, #formulario form label textarea {
    width: 100%;
    border: none;
    padding: .8rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

#formulario form label input {
    border-radius: 50px;
}

#formulario form input[type="submit"] {
    width: 6rem;
    border: none;
    padding: .3rem;
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--branco);
}