footer {
    bottom: 0;
    width: 100%;
    position: fixed;
}

footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 0 1rem 0;
    justify-content: space-between;
    border-top: solid 1px var(--cinza);
}

footer ul li {
    width: 33%;
    list-style: none;
    text-align: center;
}

footer ul li p {
    color: var(--branco);
}